* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background-color: #f3f5fc;
    font-family: "Inter", sans-serif;
  }

   /* **  COMPONENTES DEL CONTAINER 0  ** */ 
  .container0{
    display: flex;
    flex-direction: column;
    height: 100vh;
  } 

   /* **  COMPONENTES DEL CONTAINER 01  ** */ 

  .container01{    
    height: 90vh;
  }

  .container1{     
    height: 40%; 
  }

   /* **  COMPONENTES DEL CONTAINER 1  ** */ 

  .container10{    
    flex-basis: 37.38%;
    height: 20%;
  }

  /* **  COMPONENTES DEL CONTAINER 10  ** */ 
  #imgLogo{
    width: 11.90%;
    height: 37.38%;
    margin-left: 3.97%;
    margin-top: 4.1%;
  }


  .container11{
    flex: 2;
    width: 100%;
    height: 80%;  
  }

   /* **  COMPONENTES DEL CONTAINER 11  ** */ 

   .textarea1{
    display: flex;
    height: 60%;
  }


  .container110{
    display: flex;
    height: 20% ;
    width: 100vw;
  }

  .aviso1{
    width: 60%;
    /* height: 5%;   */
    margin-left: 10%;     
    display: flex;
    /* align-items: center; */
    font-size: 2.5vw;
  }

  .aviso1 img{
    width: 2.5vw;
  }

  .botonLimpiar{
    display: flex;
    width: 40%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }  
  
  .botonLimpiar1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: 70%;
    background: #D8DFE8;
    font-size: 4vw;
    color:#0A3871;
    padding: 0; /* Relleno del botón */
    border-color: #0A3871; /* Sin borde */
    border-radius: 10px; /* Borde redondeado 10px*/
    cursor: pointer; /* Cursor de tipo puntero */    
    margin-right: 20%;    
  }

  .botonLimpiar1:active{
    background-color: #D8DFE8 ;
    color:#0A3871;
  }

  .imgbtn1{
    margin-right: 10%;
    width: 25%;
    height: 50%;
  }


  
  .container112{
    width: 100%;  
    height: 20%;    
    /* margin-bottom: 72px; */
    display: flex;
    padding: 0.5%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .botones{   
    width: 100%;  
    height: 100%;        
    display: flex;    
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .botonEncriptar, .botonDesEncriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;                  /*  300px;  */
    height: 70%;              /*  67px;  */
    /* border-radius: 10px; */    
    font-size: 5vw;
    padding: 0.5rem 0.5rem; /* Relleno del botón */
    border: none; /* Sin borde */
    border-radius: 24px; /* Borde redondeado */
    cursor: pointer; /* Cursor de tipo puntero */
    justify-content: space-between;    
  }
  .botonEncriptar{
    background: #0A3871;
    color:#f3f5fc;
    margin-left: 15%;
  }
  
  .botonDesEncriptar{
    background: #D8DFE8;    
    color:#0A3871;
    margin-right: 15%;
  }
  
  .botonEncriptar:active{
    background-color: #D8DFE8 ;
    color:#0A3871;
  }  
  
  .botonDesEncriptar:active{
    background: #0A3871;
    color:#f3f5fc;
  }

  .imgbtn2{
    width: 15%;
    height: 100%;
  }


  /* **  COMPONENTES DEL CONTAINER 2 y 22   ** */
  .container2, .container22{    
    /* width: 30%;*/
    height: 60%;  
    margin: auto;
    justify-content: center;
    align-items: center; /* Centrado vertical */
    display: flex;
    box-sizing: border-box;
  }

  
   

  
  #textarea{
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    line-height: 150%;       /*  48px;  */
    background-color: rgba(243,245,252, 0.5);
    width: 80%;
    height: 90%;
    margin: auto;
    border: none;
    resize: none;
    outline: none;
  }

 
  
  
  
  .container12{
    display: flex;
    margin: auto;
    text-align: center;
    width: 90%;
    height: 97%;
    border-radius: 32px;
    background-color: white;
  }
  
  .rect1{ 
    display: block;
    margin:auto;
    width: 100%;
    height: 100%;
    /* position: relative; */
  }
  
  .imagen1{
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 10%;   
  }

  .img1{
    width: 50%;
    height: 100%;
  }
  
  .textos2{
    width: 100%;
    height: auto;
    margin-top: 12%;
  }


   
  #textne{
    font-family: 'Inter';
    font-size: 6vw;
    line-height: 120%;
    font-weight: bold;
  }
  
  #textdescrip{
    font-family: 'Inter';
    font-size: 4vw;
    line-height: 120%;
    font-weight: normal;
  }
  
  
 
  .rect2{
    width: 100%;
    margin-top: 10%;
    height: 95%;
    position: relative;
    display: block;
  }
  .textarea2{
    width: 90%;
    height: 90%;
    margin: auto;
  }
  
  #textarea2{
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
    line-height: 150%;       /*  48px;  */
    background-color: white;
    width: 90%;
    height: 100%;
    border: none;
    resize: none;
  }
  
  .alterna{
    width: 100%;
    height: 15.41%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .boton2, .boton3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 10%;   
    margin-top: 0;
    position: absolute; 
  }

  /* .boton3{
    margin-top: -18%;    
  } */
  
  .botonCopiar, .botonPegar{
    display: flex;
    width: 91%;                  /*  300px;  */
    height: 100%;              /*  67px;  */
    /* border-radius: 10px; */
    background: #f3f5fc;
    font-size: 26px;
    color: #0A3871;
    padding: 0; /*  0.5rem 1rem Relleno del botón */
    border-color: #0A3871;
   /* border: none; / * Sin borde */
    border-radius: 24px; /* Borde redondeado */
    cursor: pointer; /* Cursor de tipo puntero */  
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    
  }
  
  .botonCopiar, .botonPegar{
    margin:auto;
  }
  
  .botonCopiar:active, .botonPegar:active{
    background: #0A3871;
    color:#f3f5fc;
  }
  
  .botonCopiar:hover, .botonPegar:hover, .botonEncriptar:hover, .botonDesEncriptar:hover, .botonLimpiar1:hover, .popup-close:hover {
    background-color: #01bdad;
    color: white;
  }
  
  
  /*  *****   GENERALES  - VARIOS  *****  */
  .oculto {
    display: none;     
  }
  .visible {
    display: block;        
  }

  .elevar{
    z-index: 10;
  }

  .container22 {
    display: none;
  }
 
  /* **  COMPONENTES DEL CONTAINER 3  ** */ 

  .container3{    
    width: 100%;    
    height: 10vh;
    bottom: 0;   
    position: fixed; 
  }
  
  /* ****** Footer  **** */
  
  
  footer{  
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: .10% 0;    
    font-size: 2vw;
  }

  .font-weight-bold{
    font-weight: bold;
  }
  .col-lg-6{
    display: flex;
    width: 50%; /* 4 de las 12 columnas */
    float: left;      
    margin: auto;    
  }
  
  .col-lg-3{
    width: 25%; /* 3 de las 12 columnas */
    float: left;
  }
  .col2{
    width: 10%; /* 2 de las 12 columnas */
    float: left;  
    margin-top: 1.5%;
  }
  .col10{
    margin-left: 10%;
    width: 90%; /* 10 de las 12 columnas */
    float: left;
    margin-top: 0.4%;
  }
  
  
   /* ***  ANIMACIONES   *** * */
  
      /* ***  ANIMACIÓN TIPO PULSANTE COMO EL DEL ICONO DE GITHUB *** */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animated {
    animation: pulse 2s ease-in-out infinite;
  }

    /* ***  ANIMACIÓN TIPO PULSANTE MENSAJE EMERJENTE *** */
    @keyframes pulse1 {
      0% {        
        /* background-color: cyan; */
        border-color: cyan;
        opacity: 1;
      }
      25% {
        /* background-color: lightblue; */
        border-color: lightblue;
        opacity: 0.7;
      }
      50% {
        /* background-color: green; */
        border-color: rgb(173, 230, 221);
        opacity: 0.7;
      }
      100% {
        /* background-color: yellow; */
        border-color: rgb(175, 230, 173);
        opacity: 1;
      }
    }  
    .animated1{
      animation: pulse1 5s infinite alternate;
    }
  

  /* **  CODIGO VENTANA EMERGENTE   ** */
  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #fff;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border-width: 1em;
    border-style: solid;
  }
  
  .popup-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .popup-text {
    margin-bottom: 20px;
  }
  
  .popup-close {
    width: 60%;
    /* height: 60%; */
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    cursor: pointer; /* Cursor de tipo puntero */ 
  }


  /* ** CODIGO MEDIA SCREEN ** */
   
  @media screen and (min-width:680px){
    .container0{
      flex-direction: row;
      flex-wrap: wrap;
    }
    .container1{
      flex-basis: 70%;
    }
    .container2, .container22{
      flex-basis: 30%;
    }
  } 
  